:root {
  /* Dark Gray */
  --dark-gray-1: hsl(0, 0%, 8.5%);
  --dark-gray-2: hsl(0, 0%, 11%);
  --dark-gray-3: hsl(0, 0%, 13.6%);
  --dark-gray-4: hsl(0, 0%, 15.8%);
  --dark-gray-5: hsl(0, 0%, 17.9%);
  --dark-gray-6: hsl(0, 0%, 20.5%);
  --dark-gray-7: hsl(0, 0%, 24.3%);
  --dark-gray-8: hsl(0, 0%, 31.2%);
  --dark-gray-9: hsl(0, 0%, 43.9%);
  --dark-gray-10: hsl(0, 0%, 49.4%);
  --dark-gray-11: hsl(0, 0%, 62.8%);
  --dark-gray-12: hsl(0, 0%, 93%);

  /* Dark Sand */
  --dark-sand-1: hsl(61, 2%, 8.3%);
  --dark-sand-2: hsl(60, 3.7%, 10.6%);
  --dark-sand-3: hsl(58, 3.7%, 13.1%);
  --dark-sand-4: hsl(57, 3.6%, 15.3%);
  --dark-sand-5: hsl(56, 3.7%, 17.4%);
  --dark-sand-6: hsl(55, 3.7%, 19.9%);
  --dark-sand-7: hsl(53, 3.7%, 23.6%);
  --dark-sand-8: hsl(50, 3.8%, 30.6%);
  --dark-sand-9: hsl(50, 4%, 42.7%);
  --dark-sand-10: hsl(52, 3.1%, 48.3%);
  --dark-sand-11: hsl(50, 4%, 61.8%);
  --dark-sand-12: hsl(56, 4%, 92.8%);

  /* Dark Yellow */
  --dark-yellow-1: hsl(45, 100%, 5.5%);
  --dark-yellow-2: hsl(46, 100%, 6.7%);
  --dark-yellow-3: hsl(45, 100%, 8.7%);
  --dark-yellow-4: hsl(45, 100%, 10.4%);
  --dark-yellow-5: hsl(47, 100%, 12.1%);
  --dark-yellow-6: hsl(49, 100%, 14.3%);
  --dark-yellow-7: hsl(49, 90.3%, 18.4%);
  --dark-yellow-8: hsl(50, 100%, 22%);
  --dark-yellow-9: hsl(53, 92%, 50%);
  --dark-yellow-10: hsl(54, 100%, 68%);
  --dark-yellow-11: hsl(48, 100%, 47%);
  --dark-yellow-12: hsl(53, 100%, 91%);

  /* Dark Green */
  --dark-green-1: hsl(146, 30%, 7.4%);
  --dark-green-2: hsl(155, 44.2%, 8.4%);
  --dark-green-3: hsl(155, 46.7%, 10.9%);
  --dark-green-4: hsl(154, 48.4%, 12.9%);
  --dark-green-5: hsl(154, 49.7%, 14.9%);
  --dark-green-6: hsl(154, 50.9%, 17.6%);
  --dark-green-7: hsl(153, 51.8%, 21.8%);
  --dark-green-8: hsl(151, 51.7%, 28.4%);
  --dark-green-9: hsl(151, 55%, 41.5%);
  --dark-green-10: hsl(151, 49.3%, 46.5%);
  --dark-green-11: hsl(151, 50%, 53.2%);
  --dark-green-12: hsl(137, 72%, 94%);

  /* Dark Blue */
  --dark-blue-1: hsl(212, 35%, 9.2%);
  --dark-blue-2: hsl(216, 50%, 11.8%);
  --dark-blue-3: hsl(214, 59.4%, 15.3%);
  --dark-blue-4: hsl(214, 65.8%, 17.9%);
  --dark-blue-5: hsl(213, 71.2%, 20.2%);
  --dark-blue-6: hsl(212, 77.4%, 23.1%);
  --dark-blue-7: hsl(211, 85.1%, 27.4%);
  --dark-blue-8: hsl(211, 89.7%, 34.1%);
  --dark-blue-9: hsl(206, 100%, 50%);
  --dark-blue-10: hsl(209, 100%, 60.6%);
  --dark-blue-11: hsl(210, 100%, 66.1%);
  --dark-blue-12: hsl(206, 98%, 95.8%);

  /* Dark Sky */
  --dark-sky-1: hsl(205, 45%, 8.6%);
  --dark-sky-2: hsl(202, 71.4%, 9.6%);
  --dark-sky-3: hsl(201, 74.6%, 12.2%);
  --dark-sky-4: hsl(201, 77.4%, 14.4%);
  --dark-sky-5: hsl(200, 80.3%, 16.5%);
  --dark-sky-6: hsl(200, 84.1%, 18.9%);
  --dark-sky-7: hsl(199, 90.2%, 22.1%);
  --dark-sky-8: hsl(198, 100%, 26.1%);
  --dark-sky-9: hsl(193, 98%, 70%);
  --dark-sky-10: hsl(192, 100%, 77%);
  --dark-sky-11: hsl(192, 85%, 55.8%);
  --dark-sky-12: hsl(198, 98%, 95.8%);

  /* Dark Red */
  --dark-red-1: hsl(353, 23%, 9.8%);
  --dark-red-2: hsl(357, 34.4%, 12%);
  --dark-red-3: hsl(356, 43.4%, 16.4%);
  --dark-red-4: hsl(356, 47.6%, 19.2%);
  --dark-red-5: hsl(356, 51.1%, 21.9%);
  --dark-red-6: hsl(356, 55.2%, 25.9%);
  --dark-red-7: hsl(357, 60.2%, 31.8%);
  --dark-red-8: hsl(358, 65%, 40.4%);
  --dark-red-9: hsl(358, 75%, 59%);
  --dark-red-10: hsl(358, 85.3%, 64%);
  --dark-red-11: hsl(358, 100%, 69.5%);
  --dark-red-12: hsl(351, 89%, 96%);
}
